body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 70px;
    width: 100%;
}

.debug{
    .container{
        background-color: orange;
        height: 400px;
    }
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    gap: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}


.button{
    background-color:#0061fe;
    color: white;
    border: none;
    padding: 5px;
}

h1{
    font-size: 60px;
    padding-top: 40px;
}




.container-jumbo{ 
  display: flex;
   justify-content: center;
   background-color: #b4d0e6;
   height: 600px;
}

.card-title{
    width: 60%;
    margin: auto;
}

.row{
    display: flex;
    padding-top: 40px;

    a{
        color: #0061fe;
        text-decoration: underline;
    }
    
}

.col-2{
    width: calc(100% / 12 * 2);

}

.col-5{
    width: calc(100% / 12 * 5);

    .arrow{
        color: black;
        padding-top: 10px;
        font-size: 40px;
    }
}

.col-7{
    width: calc(100% / 12 * 7); 
}

.col-10{
    width: calc(100% / 12 * 10);
}
.col-3{
    width: calc(100% / 12 * 3);
    padding-left: 100px; 

    button{
        margin: 20px;
        padding: 15px;
    }
}

.col-4{
    width: calc(100% / 12 * 4);
    border: 1px solid rgba(164, 83, 226, 0.262);
    height: 800px;
}

.col-12{
    width: calc(100% / 12 * 12);
    border: 1px solid rgba(164, 83, 226, 0.262); 
}

.padding{
    padding: 20px;
}

.container{
    
    width: 60%;
    margin: auto;
    padding-top: 100px;
    
    h3{
        font-size: 40px;

    }
    span{
        font-size: 20px;
        padding: 10px;
    }
}

.sng{
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(164, 83, 226, 0.262);
   
    div{
        padding: 3px;
    }
}

.mese{
    color: grey;
    padding-bottom: 20px;
}

.piani{
    padding:20px;

    a{
        color: blue;
    }
    
    button{
        margin: 20px;
    }
}

.fa-solid{
    font-size: 10px;
}

.check{
    font-size: 10px;
    color: blue;
}

.team{
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    border: 1px solid rgba(164, 83, 226, 0.262);
}
.conteiner-2{
    margin-top:40px ;
    width: 60%;
   
}
.row-2{
    display: flex;
    padding-left: 20px;
    padding-top: 0;
   border: 1px solid rgba(164, 83, 226, 0.262);

   p{
    margin-top: 60px;
   }
}

.row-3{
    display: flex;
    padding-top: 200px;
    h3{
        font-size: 30px;
    }
    
    .col-3{

        p{
            padding-bottom: 30px;
        }
        .click{
            margin: 10px;
            text-decoration: none;
            border: 1px solid rgba(0, 0, 0, 0.405);
            padding: 10px;

        }
        a:hover{
            background-color: rgba(238, 130, 238, 0.36);
        }
    }
    
}
